/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

/ios/App/App.xcodeproj/project.pbxproj
/ios/App/App/Info.plist
/ios/App/App/App.entitlements
/ios/App/App/Assets.xcassets
/android/app/src/main/res/values/strings.xml
/android/app/src/main/AndroidManifest.xml
/android/app/build.gradle

/android/app/src/main/res/drawable-hdpi-icon.png
/android/app/src/main/res/mipmap-hdpi
/android/app/src/main/res/mipmap-mdpi
/android/app/src/main/res/mipmap-xhdpi
/android/app/src/main/res/mipmap-xxhdpi
/android/app/src/main/res/mipmap-xxxhdpi


/bin/.build
/resources/android
/resources/ios
ionic.config.json
capacitor.config.json
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.serverless
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
.serverless/
.env.dev
/plugins/
plugins/android.json
plugins/ios.json
/src/assets/scorm-course-content
ssm.conf.ts
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
